@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* banner section's styles start here  */
.banner {
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-contents {
    margin: 0 auto;
    padding: 32px;
}

.banner-contents h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
}

.banner-contents p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin: 1rem 0;
}

.contact-btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    cursor: pointer;
}

.contact-btn span {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

/* banner section's styles end here  */

/* Why Web Development section's styles start here */
.why-web-development-container {
    padding: 80px 97px 80px 97px;
    text-align: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.why-web-development-container h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 16px;
}

.why-web-development-container p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;

}

.card {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 32px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    width: 946px;
    height: 336px;
    padding: 48px;
}

.card-content {
    text-align: left;
    width: 850px;
    height: 240px;
    margin: 32px 20px;
}

.card.reverse {
    flex-direction: row-reverse;
}

.card-image {
    width: 50%;
    height: auto;
}

.card-content h3 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-top: 6px;
    margin-bottom: 16px;
}

.card-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;

}

.learn-more-btn {
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 149px;
    height: 48px;
}

.learn-more-btn span {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

/* Why Web Development section's styles end here */

/* My Inspiration section's styles start here */
.inspiration-container {
    padding: 32px;
    text-align: center;
}

.inspiration h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 16px;
}

.inspiration p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.video-container {
    display: flex;
    justify-content: center;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-top: 80px;
    margin-bottom: 32px;
}

.video-container iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 8px;
}
/* My Inspiration section's styles end here */




/* My Current Target section's start here */
/* My Current Target section's end here */